body {
    font-family: 'Courier New';
    background-color: #ED683C;
    display: flex;
    flex-direction: column;
    color: #FDF0D1;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    font-size: 30px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h3 {
    color: #ED683C;
    padding-left: 1.25em;
    margin-top: 2em;
    font-size: 24px;
    font-weight: bolder;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

p {
    padding-left: 0.5em;
}

p.link-and-list {
    padding-left: 1.25em;
    font-size: 16px;
    color:#ED683C;
    font-weight: bolder;
}

p a {
    color:#ED683C;
}

p a:hover {
    color:#E7B961;
}

p.project-description {
    color:#ED683C;
    font-size: 16px;
    padding-left: 1.25em;
    padding-bottom: 1.5em;
}

form a#my-email:hover {
    color: #ED683C;
}

/* Navigation Styling */
nav {
    position: fixed;
    align-self: center;
    width: fit-content;
    height: fit-content;
    transition: top 0.175s;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.625em;
    color: #FDF0D1;
}

.nav-container {
    padding-left: 1em;
    background-color: #E7B961;
    width: 16.5em;
    height: 3.75em;
    align-items: center;
    border-radius: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.nav-container li a {
    color: #FDF0D1;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
}

.nav-container li a:hover {
    color: #ED683C;
    text-decoration: underline #ED683C;
}

/* Welcome Message */

h1 {
    align-self: center;
    font-weight: bolder;
    font-size: 50px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

/* Welcome container */
.welcome-container{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Mobile headshot Image Display */
.welcome-container #mobile-headshot {
    object-fit: cover;
    margin: 0 auto;
    width: 15em;
    height: 15em;
    border-radius: 100%;
    border: 16px solid #F2AC5D;
    margin-bottom: 0.75em;
}

/* Link Container */

.welcome-container .link-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 1.25em;
    align-self: center;
}

.welcome-container .link {
    width: 4.6875em;
    height: 4.6875em; 
}

.welcome-container .link:hover {
    transform: scale(1.3);
}

/* HIDE HEADSHOT-TWO on mobile */

img#headshot-two {
    display: none;
}

/* Project container --MOBILE-- */

.projects-container {
    background: #FDF0D1;
    width: 100vw;
    height: fit-content;
    margin-right: 1.25em;
    padding-bottom: 3em;
}

/* Carousel */

.carousel {
    position: relative;
    height: 15em;
    width: 80%;
    margin: 0 auto;
  }
  
.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}
  
  
.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 0.2em;
    top: 0;
    bottom: 0;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    width: 100%;
    border-radius: 1.875em;
    margin-right: 0.3em;
}

.carouselBtn {
    position: absolute;
    background: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 4%;
    height: 12%;
    z-index: 100;
}

.carouselBtn--left {
    left: -3.8em;
}

.carouselBtn--right {
    right: 0.8em;
}

.carouselBtn p {
    font-size: 40px;
    color: #ED683C;
    margin-top: 35%;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 8px 0 16px;
}

.carousel__indicator {
    border: 0;
    border-radius: 40px;
    width: 10px;
    height: 10px;
    background: rgba(231, 185, 97, 1);
    margin: 0 12px;
    cursor: pointer;
}

.carousel__indicator:hover{
    background: #F2AC5D;
    transform: scale(1.5);
}

.carousel__indicator.cur-slide {
    background: rgba(237, 104, 60, 1);
}

.carousel__indicator.cur-slide:hover {
    background: rgba(242, 172, 93, 1);
}

.is-hidden { display: none; }

  /* Carousel images */

.carousel-image {
    object-fit:cover;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-radius: 30px;
    /* border: 4px solid #E7B961; */
}

.carousel-image-s {
    object-fit: scale-down;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-radius: 30px;
    /* border: 4px solid #E7B961; */
}

/* Email Container */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a#my-email {
    margin-top: 1em;
    color:#FDF0D1;
    font-weight: bolder;
}

form.form {
    background-image: url("./assets/EmailForm.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 22em;
    max-width: 25em;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding-top: 7.5em;
    padding-bottom: 2em;
    margin-bottom: 1em;
}

input.contact-name{
    width: 300px;
}

input.contact-email {
    right: 20px;
    width: 300px;
}

textarea.contact-message {
    width: 300px;
    height: 100px;
}

button.send-email {
    font-family: Courier;
    background-color: #ED683C;
    border: none;
    color:#FDF0D1;
    border-radius: 40px;
    width: 80px;
    height: 40px;
    text-align: center;
    padding-right: .7em;
    cursor: pointer;
}

button.send-email:hover {
    background-color: #FDF0D1;
    color:#ED683C;
}

/* Styling Screen Size BreakPoints */

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

    .welcome-container h1 {
        padding-left: 1em;
        padding-right: 1em;
        font-size: 3em;
    }

    img#mobile-headshot {
        display: none;
    }

    img#headshot-two {
        display: flex;
        object-fit: cover;
        margin: 2em 1em;
        width: 13em;
        height: 13em;
        border-radius: 100%;
        border: 16px solid #F2AC5D;
    }

    .about-info {
        display: flex;
        flex-direction: row;
    }
    
}

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .welcome-container h1 {
        font-size: 4.5em;
    }

    .carousel {
        height: 20em;
    }

}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .welcome-container{
        flex-direction: row;
    }

    .welcome-container h1 {
        padding-right: 2em;
    }

    .about-info p {
        padding-left: 1.5em;
    }

    img#headshot-two {
        margin: 0em 2em;
        width: 16em;
        height: 16em;
    }

    .project {
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding-right: 2em;
    }

    .carousel {
        width: 250em;
        padding-top: 2em;
    }

    .carousel__track-container {
        margin-left: 3em;
    }

    .carouselBtn--left {
        left: -0.8em;
    }

    .carouselBtn p {
        margin-top: 0.5em;
    }
    
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 

}

@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    .welcome-container h1 {
        font-size: 6em;
        padding-left: 2em;
    }

    .welcome-container .link {
        width: 6em;
        height: 6em;
    }

    h2 {
        font-size: 3em;
    }

    img#headshot-two {
        margin: -2em 6em;
        width: 22em;
        height: 22em;
    }

    p {
        font-size: 1.5em;
    }

    .about-container p {
        padding-left: 3em;
    }

    .project-desc p {
        font-size: 1.5em;
    }

    .carousel {
        height: 30em;
        width: 400em;
    }

    .carouselBtn--left {
        left: 0.75em;
    }

}